
<ion-header>

  <ion-navbar transparent>
      <ion-icon name="arrow-round-back" (click) = "goBack()"></ion-icon>
    <ion-title>Suggest<b> Correction</b></ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>

      <ion-row class="row">
          <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

            </ion-col>
          <ion-col ion-col text-center no-padding col-8 col-sm-10 col-md-10 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
              <h1>Hello Username</h1>
            </ion-col>
            <ion-col ion-col text-center no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

              </ion-col>
        </ion-row>

    <ion-row>

      <ion-col ion-col text-center no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

      </ion-col>
      <ion-col ion-col text-left no-padding col-10 col-sm-10 col-md-10 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
          <p>We try our level best to deliver most accurate information in the app but we do really appreciate your input as it helps improve quality of the exams and the app.</p>
          <br>
          <p id="para">Fill the form below to suggest correction</p>

          <label class="container">Incorrect Question
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="container">Incorrect Answer
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="container">Incorrect Explanation
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="container">Incomplete Explanation
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        
        </ion-col>

        <!-- <ion-col ion-col text-center no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

          </ion-col> -->
    </ion-row>
   
    <ion-item text-center style="background-color:#F4F4F4 !important">
      <!---Input field email-->
      
      <ion-input class="input" text-left  type="text" placeholder="EXPLAIN FURTHER"></ion-input>
      
  </ion-item><br>
    <ion-row>
        <ion-col ion-col text-center no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

        </ion-col>
        <ion-col ion-col text-center no-padding col-10 col-sm-10 col-md-10 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
      <button class="btn1" ion-button block default-button text-capitalize box-shadow (click)="Correction()">Suggest Correction</button>
        </ion-col>
        <ion-col ion-col text-center no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
          
          </ion-col>
          </ion-row>
  </ion-grid>

</ion-content>
