
<ion-header>

    <ion-navbar transparent>
        <ion-icon name="arrow-round-back" (click) = "goBack()"></ion-icon>
          <ion-title>Add <b>Balance</b></ion-title>
      </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      <ion-grid>
     
          <ion-row>
            <ion-col ion-col text-left no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
      
            </ion-col>
            <ion-col ion-col text-left no-padding col-10 col-sm-4 col-md-4 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                <h1 style="margin-top: 5px !important;">Hello Username</h1>
                <h3>Please select a payment method to add balance to your mockexams account.</h3>
            </ion-col>
          </ion-row>
      
      <ul>
          <li>
              <a>Coupon</a> 
          </li>
          <br>
          <li>
                <a (click)= "goToBankTransfer()">Bank Transfer</a>
            </li>
            <br>
            <li>
                    <a (click)= "goToEasyPay()">Easy Pay</a>
                </li>
                <br>

                <li>
                        <a (click)= "goToJazzCash()">Jazz Cash</a>
                    </li>
                    <br>
      </ul>
      
            <ion-row>
                <ion-col ion-col text-center no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        
                </ion-col>
                <ion-col ion-col text-center no-padding col-10 col-sm-10 col-md-10 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
              <button class="btn1" ion-button (click)= "Proceed()" >Proceed</button>
                </ion-col>
                <ion-col ion-col text-center no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                  
                  </ion-col>
                  </ion-row>
                  
                  
      
        </ion-grid>
      
  </ion-content>
  