page-forgot-password {
    ion-content{
        background-color: #F4F4F4 !important;
    }
    ion-header{
        background-color: #5F43AB !important;
        height: 60px;
    }
    p{
        font-size: 16px;
        font-weight: 100;
        text-align: justify;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        display: inline !important;
        margin-top: 10px !important;

    }
    .button-ios{
        background-color: #F4F4F4 !important;
    }
    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{
        display: inline !important;
        margin-top: 10px !important;

    }
    .input{
        color:black !important;
    }
    .btn1{
        background-color: #F4F4F4;
        border-radius: 8px !important;
        border-color: #5F43AB !important;
        border: 1px solid white;
        color:#5F43AB !important;
        
    }

}
