
<ion-header>

    <ion-navbar transparent>
        <!-- <ion-icon id="icon" name="arrow-round-back" (click) = "goBack()"></ion-icon> -->
        <ion-title>Report</ion-title>
    </ion-navbar>
   
  </ion-header>
  
  
  <ion-content>
    <ion-grid>
        <ion-row>
            <ion-col ion-col text-center no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
              
              </ion-col>
            <ion-col ion-col text-center no-padding col-10 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                <h1>Hello Username</h1>
                <p id="para">We really try that you never see this page but we do appreciate your input as it helps improve quality of the app.</p>
               
            </ion-col>
            <ion-col ion-col text-center no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
              
              </ion-col>
          </ion-row>
    </ion-grid>
    
   
  


    <ion-grid>
       
          <ion-row>
              <ion-col ion-col text-center no-padding col-12 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                  <ion-item text-center style="background-color: #f4f4f4 !important">
                      <!---Input field email-->
                      
                      <ion-input class="input" text-left  type="text" placeholder="REPORT"></ion-input>
                      
                  </ion-item><br><br>
                  <button class="btn2" ion-button (click)="goToProfilePage()">Submit</button>
  
                </ion-col>
               
              
  
          </ion-row>
          <br>
    <br>
        </ion-grid>

    


    
  
  </ion-content>
  