
<ion-header>

    <img src="../../assets/images/gallery/1.jpg" width="400px" height="200px"/>

    <div class="myOverlay" >
    <ion-icon id="icon" name="arrow-round-back" (click) = "goBack()"></ion-icon>
    <ion-title ><b>{{examName}}</b></ion-title>
    <p class="details">Some other details about exams</p>
    </div>


</ion-header>


<ion-content style="margin-top: 140px !important;">
  <ion-grid style="padding-left: 50px !important;">
    <ion-segment [(ngModel)]="requests">

        <ion-segment-button value="Details">
          Details
        </ion-segment-button>

        <ion-segment-button value="Content">
          Content
        </ion-segment-button>

        </ion-segment>

      </ion-grid>

      <div [ngSwitch]="requests">
          <ion-list *ngSwitchCase="'Details'" no-lines>

            <ul>
              <li>
                Based on latest exam pattern
              </li>
              <li>
                Detailed result analysis
              </li>
              <li>
                10 full length and full syllabus mock tests
              </li>
              <li>
                Based on latest exam pattern
              </li>
              <li>
                Detailed result analysis
              </li>
              <li>
                  10 full length and full syllabus mock tests
                </li>

            </ul>

            
            <ion-grid>
                <ion-row>
                    <ion-col ion-col text-left no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

                    </ion-col>
                    <ion-col ion-col text-center no-padding col-4 col-sm-10 col-md-10 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                        <button class="btn" ion-button (click)= "goExamInstructionsPage()" >Get free mock</button>
                          </ion-col>
                          <ion-col ion-col text-left no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

                            </ion-col>
                          <ion-col ion-col text-center no-padding col-4 col-sm-10 col-md-10 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                              <button class="btn2" ion-button (click)= "buyNow()" >Buy Now</button>
                                </ion-col>
                                <ion-col ion-col text-left no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

                                  </ion-col>
                    </ion-row>
            </ion-grid>


            </ion-list>

            <ion-list *ngSwitchCase="'Content'" no-lines>

                <ion-grid *ngIf="mocks">
      <ul *ngFor="let x of mocks">
                    <ion-row   (click)="goExamInstructionsPage(x.id, x.free)" >
                        <ion-col ion-col text-center no-padding col-6 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6
                        >
                            <li >
                                {{x?.mockExamName}}
                            </li>
                          </ion-col>

                          <ion-col ion-col text-center no-padding col-4 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

                          </ion-col>
                        <ion-col ion-col text-center col-2 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                            <i class="fa" [class.fa-lock]="!x.free" [class.fa-arrow-right]="x.free" aria-hidden="true"></i>
                        </ion-col>

                      </ion-row>

      </ul>


</ion-grid>





                  <ion-grid>
                      <ion-row>
                          <ion-col ion-col text-left no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

                          </ion-col>
                          <ion-col ion-col text-center no-padding col-4 col-sm-10 col-md-10 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                              <button class="btn" ion-button (click)= "goExamInstructionsPage()" >Get free mock</button>
                                </ion-col>
                                <ion-col ion-col text-left no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

                                  </ion-col>
                                <ion-col ion-col text-center no-padding col-4 col-sm-10 col-md-10 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                                    <button class="btn2" ion-button (click)= "buyNow()" >Buy Now</button>
                                      </ion-col>
                                      <ion-col ion-col text-left no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

                                        </ion-col>
                          </ion-row>
                  </ion-grid>
            </ion-list>



        </div>


</ion-content>
