page-exams-details-unpurchased {
    ion-content{
        background-color: #F4F4F4 !important;
        // margin-top: 15px !important;
    }
    ion-header{
        background-color: #5F43AB !important;
        height: 65px;
    }
    ion-segment{
        width: 280px !important;
        text-align: center !important;
    }
    .toolbar-title{
        text-align: center !important;
    }
    li{
        font-size: 18px !important;
        margin: 7px;

    }
    .fas{
        color: #5F43AB !important;
    }
    .segment-ios .segment-button.segment-activated{
        background-color: #5F43AB !important;
        border-color: #5F43AB !important;
        color: white !important;
    }
    .segment-ios .segment-button{
        border-color: #5F43AB !important;
        color: #5F43AB !important;

    }
    #icon{
        font-size: 28px !important;
         font-weight: bolder !important;
         color:  white !important;
         margin-top: 15px !important;
    }
    #title{
        padding-top: 20px !important;
    }
    ion-title{
        padding-top: 50px !important;
    }
    .details{
        text-align: center !important;
    }
    p{
        font-size: 16px;
        font-weight: 100;
        text-align: justify;
    }
    .input{
        color:black !important;
    }
    .btn1{
        background-color: #F4F4F4;
        border-radius: 15px !important;
        color:black !important;
        font-size: 0.9em !important;
        height: 18px !important;
        
    }
    ion-card-title{
        margin-top: -1em !important;
    }
    h1{
        text-align: center !important;
        color: black !important;
        // padding-top: 9px !important;
    }
    #para{
        // padding-top: 5px !important;
        line-height: 3px !important;
        font-size: 16px;
        font-weight: 100;
        text-align: center !important;
        color: black !important;
    }
    ion-icon{
        font-size: 1.73em !important;
    }
    ion-card-content{
        word-spacing: normal !important; 
    }
    #card-p{
        word-spacing: normal !important; 
        margin-top: -1.5em !important;
        font-size: x-small !important;
   }
   ion-card{
    border-radius: 8px !important;

   }
   hr{
    height: 2px !important;

   }
   #paragraph{
    word-spacing: normal !important; 
    text-align: center !important;

   }
   .btn2{
       text-align: center !important;
       width: 140px !important;
    background-color: #F4F4F4 !important;
    border-radius: 8px !important;
    border-color: #5F43AB !important;
    border: 1px solid white;
    color:#5F43AB !important;
    height: 40px !important;
    font-weight: 400 !important;
    
}

.btn{
    height: 40px !important;

    text-align: center !important;
    width: 140px !important;
 background-color: #5F43AB !important;
 border-radius: 8px !important;
 color:white !important;
 font-weight: 400 !important;
 
}
.myOverlay{
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    opacity: 6.5;
    // background: #000;
    color: white !important;

}

}
