page-home-exams {
    ion-content{
        background-color: #F4F4F4 !important;
    }
    ion-header{
        background-color: #5F43AB !important;
        height: 125px !important;
    }
    page-home-exams ion-header{
        height: 100% !important;
    }
    ion-toolbar{
        background-color: #5F43AB !important;
        color: white !important;
        text-align: center !important;
    }
    ion-segment{
        // margin-left: 12px !important;
        margin: auto !important;
        background-color: #5F43AB !important;
        width: 350px !important;
        color: white !important;
        border-color:solid white !important;
        text-align: center !important;
    }
    .back-button.show-back-button{
        display: none !important;
    }
    .segment-ios .segment-button{
        color: white !important;
        border-color: white !important;
    }
    .segment-ios .segment-button.segment-activated{
        background-color: white !important;
        color: #5F43AB !important;

    }
    .segment-ios .segment-button.segment-activated{
        border-color: solid white !important;
    }
    p{
        font-size: 16px;
        font-weight: 100;
        text-align: justify;
    }
    .input{
        color:black !important;
        ::placeholder{
            color: #5F43AB !important;
        }
    }
    .btn1{
        text-align: center !important;
        width:150px !important;
        background-color: #5F43AB;
        border-radius: 8px !important;
        color:white !important; 
    }
    .btn1:focus{
        background-color: #5F43AB !important;

    }
    .input1{
        border-bottom: 1px solid #5F43AB;
    }
    .input2{
        border-bottom: 1px solid #5F43AB;
    }
    a{
        color: #5F43AB !important;
        font-size: 17px;
        font-weight: bold;
    }
    h1{
        text-align: center !important;
        color: #5F43AB !important;
        font-size: 20px !important;
        font-weight: bold !important;
    }
    #h1{
        color: black !important;
        font-weight: 100 !important;


    }
    h4{
        font-size: 12px !important;
    }
    hr{
        height: 2px !important;
    }
    #heading{
        color: grey !important;
        text-align: center !important;

    }
    h5{
        color: #5F43AB !important;
        font-size: 12px !important;
    }
    h3{
        margin-left:  -0.8em  !important;
        text-align: left !important;

    }
    ion-card{
        border-radius: 15px !important;
        height: 135px !important;
    }
    ion-card-title{
        margin-top: -1em !important;
    }
    #card-p{
        word-spacing: normal !important; 
        text-align: left !important;
        margin-left:  -0.8em  !important;
        margin-top: -0.8em  !important;
        font-size: small !important;
   }
    #img{
        margin-top: -4px !important;
        height: 100px !important;
    }
    #paragraph{
        word-spacing: normal !important; 
        text-align: center !important;
    
       }
       .btn2{
           text-align: center !important;
           width: 280px !important;
        background-color: #5F43AB !important;
        border-radius: 8px !important;
        color:white !important;
        font-weight: 400 !important;
        
    }hr{
        height: 2px !important;
        width: 100% !important;
    
       }
       .scroll-content{
           padding: 0px !important;
       }
       .circle-pic{
        width:100px;
        height:100px;
        margin: auto !important;
        // -webkit-border-radius: 50%;
        border-radius: 50%;
    }
    // ion-avatar{
    //     margin: auto !important;
    // }
    #name{
        background-color: #5F43AB !important;
    }
    li{
        list-style: none !important;
    }
    .fa-pen{
        color: white !important;
        font-size: initial !important;
    }
    .fas{
        margin-left: -1.6em !important;
        margin-right: 1.0em !important;
        color: grey !important;
    }
    .fab{
        color: grey !important;
    }
    a{
        color: grey !important;
    }
    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
        border-color: transparent !important;
        color: white !important;
        opacity: 1;
    }
    .segment-md .segment-button{
        color: whitesmoke !important;
    }
    .toolbar .toolbar-title{
        text-align: center !important;
    }
}
