
<ion-header>

    <ion-navbar transparent>
      <ion-title>Forgot <b>Password</b></ion-title>
    </ion-navbar>
  
  </ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col ion-col text-left no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

      </ion-col>
      <ion-col ion-col text-left no-padding col-6 col-sm-6 col-md-6 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
          <span style="margin:5px !important">EMAIL ADDRESS</span>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col ion-col text-left no-padding col-1 col-sm-1 col-md-1 >

          </ion-col>
          <ion-col ion-col text-left no-paddin col-9 col-sm-9 col-md-9 >
              <ion-input class="input2" placeholder="Username@service.com" text-left></ion-input> 
            </ion-col>
            
    </ion-row>
    <ion-row>
        <ion-col ion-col text-center no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

          </ion-col>
          <ion-col ion-col text-left no-padding col-10 col-sm-10 col-md-10 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
              <p>We have send the code to this email address. Please enter the code to confirms that this email address belongs to you.</p>
            </ion-col>
            <ion-col ion-col text-center no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
    
              </ion-col>
    </ion-row><br>
    <ion-row>
      <ion-col ion-col text-left no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

      </ion-col>
      <ion-col ion-col text-left no-padding col-4 col-sm-4 col-md-4 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
          <span>CODE:</span>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col ion-col text-left no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
  
        </ion-col>
        <ion-col ion-col text-left no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
            <ion-input class="input1" text-left></ion-input>
        </ion-col>
        <ion-col ion-col text-left no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
  
          </ion-col>
        <ion-col ion-col text-left no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
            <ion-input class="input1" text-left></ion-input>
        </ion-col>
        <ion-col ion-col text-left no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
  
          </ion-col>
        <ion-col ion-col text-left no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
            <ion-input class="input1" text-left></ion-input>
        </ion-col>
        <ion-col ion-col text-left no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
  
          </ion-col>
        <ion-col ion-col text-left no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
            <ion-input class="input1" text-left></ion-input>
        </ion-col>
        <ion-col ion-col text-left no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
  
          </ion-col>
        <ion-col ion-col text-left no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
            <ion-input class="input1" text-left></ion-input>
        </ion-col>
        <ion-col ion-col text-left no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
  
          </ion-col>
        <ion-col ion-col text-left no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
            <ion-input class="input1" text-left></ion-input>
        </ion-col>
      </ion-row><br><br>

      <ion-row>
          <ion-col ion-col text-center no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
  
          </ion-col>
          <ion-col ion-col text-center no-padding col-10 col-sm-10 col-md-10 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <button class="btn1" ion-button block default-button text-capitalize box-shadow (click)= "resetPassword()" >Reset Password</button>
          </ion-col>
          <ion-col ion-col text-center no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
            
            </ion-col>
            </ion-row><br><br>
            <ion-row>
              <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

              </ion-col>
              <ion-col ion-col text-center no-padding col-9 col-sm-9 col-md-9 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                <p>If you haven't received the code</p>
              </ion-col>
              <ion-col ion-col text-center no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

                  </ion-col>
            </ion-row>
            <ion-row>
                <ion-col ion-col text-center no-padding col-4 col-sm-4 col-md-4 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
  
                </ion-col>
                <ion-col ion-col text-center no-padding col-4 col-sm-4 col-md-4 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                  <a>Resend Code</a>
                </ion-col>
                <ion-col ion-col text-center no-padding col-4 col-sm-4 col-md-4 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
  
                    </ion-col>
              </ion-row>

  </ion-grid>

</ion-content>
