<ion-header>
  <ion-navbar transparent>
    <!-- <ion-icon name="arrow-round-back" (click) = "goBack()"></ion-icon> -->
    <ion-title>Add <b>Coupon</b></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col
        ion-col
        text-left
        no-padding
        col-1
        col-sm-1
        col-md-1
        offset-lg-3
        col-lg-6
        offset-xl-3
        col-xl-6
      >
      </ion-col>
      <ion-col
        ion-col
        text-left
        no-padding
        col-10
        col-sm-4
        col-md-4
        offset-lg-3
        col-lg-6
        offset-xl-3
        col-xl-6
      >
        <h1 style="margin-top: 5px !important;">HAVE A COUPON?</h1>
        <h4>Just fill coupon number below and unlock the exam</h4>
      </ion-col>
    </ion-row>

    <!-- <ion-row
      text-center
      style="margin: 0 auto !important; text-align: center !important;"
    >
      <ion-input
        type="text"
        text-center
        #field1
        (keyup)="gotoNextField(field2)"
        class="input1"
        maxlength="1"
        tabindex="1"
      ></ion-input>
      _
      <ion-input
        type="text"
        text-center
        #field2
        (keyup)="gotoNextField(field3)"
        class="input1"
        maxlength="1"
        tabindex="1"
      ></ion-input>
      _
      <ion-input
        type="text"
        text-center
        #field3
        (keyup)="gotoNextField(field4)"
        class="input1"
        maxlength="1"
        tabindex="1"
      ></ion-input>
      _
      <ion-input
        type="text"
        text-center
        #field4
        (keyup)="gotoNextField(field5)"
        class="input1"
        maxlength="1"
        tabindex="1"
      ></ion-input>
      _
      <ion-input
        type="text"
        text-center
        #field5
        (keyup)="gotoNextField(field6)"
        class="input1"
        maxlength="1"
        tabindex="1"
      ></ion-input>
      _
      <ion-input
        type="text"
        text-center
        #field6
        class="input1"
        maxlength="1"
        tabindex="1"
      ></ion-input> </ion-row
    ><br /><br /> -->
    <ion-row
      text-center
      style="margin: 0 auto !important; text-align: center !important;"
    >
      <ion-input
        type="text"
        text-center
        #field1
        class="input1"
        maxlength="11"
        tabindex="1"
        name="couponId"
        [(ngModel)]="couponId"
      ></ion-input>
    </ion-row>
    <ion-row>
      <ion-col
        ion-col
        text-center
        no-padding
        col-1
        col-sm-1
        col-md-1
        offset-lg-3
        col-lg-6
        offset-xl-3
        col-xl-6
      >
      </ion-col>
      <ion-col
        ion-col
        text-center
        no-padding
        col-10
        col-sm-10
        col-md-10
        offset-lg-3
        col-lg-6
        offset-xl-3
        col-xl-6
      >
        <button class="btn1" ion-button (click)="addCoupon()">
          Add Coupon
        </button>
      </ion-col>
      <ion-col
        ion-col
        text-center
        no-padding
        col-1
        col-sm-1
        col-md-1
        offset-lg-3
        col-lg-6
        offset-xl-3
        col-xl-6
      >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
