
<ion-header>

    <ion-navbar transparent>
      <ion-title>Request<b> an Exam</b></ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>
    <ion-grid>
  
        <ion-row class="row">
            <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
  
              </ion-col>
            <ion-col ion-col text-center no-padding col-8 col-sm-10 col-md-10 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                <h1>Hello Username</h1>
              </ion-col>
              <ion-col ion-col text-center no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
  
                </ion-col>
          </ion-row>
  
      <ion-row>
  
        <ion-col ion-col text-center no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
  
        </ion-col>
        <ion-col ion-col text-left no-padding col-10 col-sm-10 col-md-10 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
            <p>Looks like you didn't find the exam you were looking for. We are working everyday to cover most of the exams.</p>
            <br>
            <p id="para">Fill the form below to request an exam</p>
          </ion-col>
          <!-- <ion-col ion-col text-center no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
  
            </ion-col> -->
      </ion-row>
      <ion-item text-center style="background-color:#F4F4F4 !important">
          <!---Input field email-->
          
          <ion-input class="input" text-left  type="password" placeholder="CATEGORY"(click)= "popUp()"></ion-input>
          
      </ion-item><br>
  
      <ion-item text-center style="background-color:#F4F4F4 !important">
        <!---Input field email-->
        
        <ion-input class="input" text-left  type="password" placeholder="EXAM NAME"></ion-input>
        
    </ion-item><br>
      <ion-row>
          <ion-col ion-col text-center no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
  
          </ion-col>
          <ion-col ion-col text-center no-padding col-10 col-sm-10 col-md-10 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <button class="btn1" ion-button block default-button text-capitalize box-shadow (click)="ClickToExamsPage()">Request an Exam</button>
          </ion-col>
          <ion-col ion-col text-center no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
            
            </ion-col>
            </ion-row>
    </ion-grid>
  
  </ion-content>
  