
<ion-header>

    <ion-navbar transparent>
        <ion-icon id="icon" name="arrow-round-back" (click) = "goBack()"></ion-icon>
        <ion-title>Exam <b>Instructions</b></ion-title>
    </ion-navbar>

  </ion-header>


  <ion-content>
    <ion-grid>
        <ion-row>

            <ion-col ion-col text-center no-padding col-12 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                <h1>Instructions for FCPS - Part 1</h1>
                <p >We try our level best to deliver most accurate information in the app but we do really appreciate your input as it helps improve quality of the exams and the app.</p>

            </ion-col>
          </ion-row>
    </ion-grid>

    <ion-grid>

      <ul>
          <li>
              Based on latest exam pattern
          </li>

          <li>
                Detailed Result Analysis
            </li>
            <li>
                    Detailed Result Analysis
                </li>
                <li>
                        Detailed Result Analysis
                    </li>
                    <li>
                            Detailed Result Analysis
                        </li>
      </ul>

    </ion-grid>


  </ion-content>
  <ion-footer>

        <ion-grid style="background-color: white !important;">

                <ion-row>
                    <ion-col ion-col text-center no-padding col-12 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                        <button class="btn" ion-button (click)="startExam()">Start Exam</button>

                      </ion-col>



                </ion-row>

              </ion-grid>
  </ion-footer>
