<ion-header>
  <ion-navbar transparent>
    <!-- <ion-icon name="arrow-round-back" (click) = "goBack()"></ion-icon> -->
    <ion-title>Balance & <b>Transactions</b></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col
        ion-col
        text-left
        no-padding
        col-1
        col-sm-1
        col-md-1
        offset-lg-3
        col-lg-6
        offset-xl-3
        col-xl-6
      >
      </ion-col>
      <ion-col
        ion-col
        text-left
        no-padding
        col-10
        col-sm-4
        col-md-4
        offset-lg-3
        col-lg-6
        offset-xl-3
        col-xl-6
      >
        <h1 style="margin-top: 5px !important;">Your Balance</h1>
        <h1 id="h1">Rs {{ student?.balance }}</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col
        ion-col
        text-center
        no-padding
        col-1
        col-sm-1
        col-md-1
        offset-lg-3
        col-lg-6
        offset-xl-3
        col-xl-6
      >
      </ion-col>
      <ion-col
        ion-col
        text-center
        no-padding
        col-10
        col-sm-10
        col-md-10
        offset-lg-3
        col-lg-6
        offset-xl-3
        col-xl-6
      >
        <button class="btn1" ion-button (click)="addBalance()">
          Add Balance
        </button>
      </ion-col>
      <ion-col
        ion-col
        text-center
        no-padding
        col-1
        col-sm-1
        col-md-1
        offset-lg-3
        col-lg-6
        offset-xl-3
        col-xl-6
      >
      </ion-col>
    </ion-row>
  </ion-grid>
  <br />
  <ion-grid style="background-color: white !important;">
    <ion-row>
      <ion-col
        ion-col
        text-center
        no-padding
        col-1
        col-sm-1
        col-md-1
        offset-lg-3
        col-lg-6
        offset-xl-3
        col-xl-6
      >
      </ion-col>
      <ion-col
        ion-col
        text-center
        no-padding
        col-10
        col-sm-1
        col-md-1
        offset-lg-3
        col-lg-6
        offset-xl-3
        col-xl-6
      >
        <h2 id="trans">Transactions History</h2>
      </ion-col>
      <h5>Complete list of transactions made to your account</h5>
    </ion-row>
    <br />
  </ion-grid>
  <!-- <br> -->

  <ion-grid id="grid">
    <ion-row style="border: black;">
      <ion-col col-3 class="table-style"> Date </ion-col>
      <ion-col col-3 class="table-style"> Time </ion-col>
      <ion-col col-3 class="table-style"> Amount </ion-col>
      <ion-col col-3 class="table-style"> Mode </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
